/* table */
.tbl-wrap {
    position:relative;
    &.narrow {
        max-width:930px;
        margin:0 auto;
    }
    .tbl-title {
        margin-bottom:20px;
        @include font-lg;
        font-weight:500;
        word-break:keep-all;
    }
    .tbl-desc {
        margin-bottom:15px;
        @include font;
        @include mobile {
            margin-bottom:5px;
        }
    }
    .tbl-buttons {
        position:absolute;
        right:0;
        bottom:100%;
        margin-bottom:22px;
        text-align:right;
        font-size:0;
        .btn {
            min-width:175px;
            margin-left:10px;
        }
    }
    .essen-txt {
        margin-bottom:10px;
        color:$cont;
        @include font-sm;
        text-align:right;
        @include mobile {
            margin-bottom:5px;
        }
        span {
            color:$red;
        }
        &:first-child {
            margin-top:0;
        }
    }
    .table {
        width:100%;
        table-layout:fixed;
        &.notice-table {
            .col1 {
                width:120px;
                @include mobile {
                    width:70px;
                }
            }
            .col2 {
                width:130px;
                @include mobile {
                    width:90px;
                }
            }
            thead {
                tr {
                    &:first-child {
                        th {
                            border-top:1px solid $basic;
                        }
                    }
                    th {
                        height:60px;
                        border-bottom:1px solid $border;
                        background:$disabled;
                        @include font;
                        font-weight:500;
                        text-align:center;
                        @include mobile {
                            height:50px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        height:60px;
                        padding:10px 20px;
                        border-bottom:1px solid $border;
                        @include font;
                        text-align:center;
                        @include mobile {
                            height:50px;
                            padding:10px;
                        }
                        a[class^="link"] {
                            position:relative;
                            max-width:100%;
                            @include textEllipsis;
                            &.new {
                                padding-right:30px;
                                &::after {
                                    content:'N';
                                    position:absolute;
                                    top:50%;
                                    right:0;
                                    width:20px;
                                    height:20px;
                                    margin-top:-10px;
                                    border-radius:50%;
                                    background:$point2;
                                    color:$white;
                                    font-size:14px;
                                    line-height:20px;
                                    text-indent:4.5px;
                                }
                            }
                            &.file {
                                padding-right:30px;
                                &::before {
                                    content:' ';
                                    position:absolute;
                                    top:50%;
                                    right:0;
                                    width:20px;
                                    height:20px;
                                    margin-top:-10px;
                                    background:url('/images/icon/icon-clip.png') center no-repeat;
                                }
                            }
                            &.new.file {
                                padding-right:55px;
                                &::before {
                                    right:25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.row-table {
            .col1 {
                width:156px;
                @include mobile {
                    width:100px;
                }
            }
            tbody {
                tr {
                    &:first-child {
                        th,
                        td {
                            border-top:1px solid $basic;
                        }
                    }
                    th {
                        height:60px;
                        padding:13px 25px;
                        border-bottom:1px solid $border;
                        background:$disabled;
                        @include font;
                        font-weight:500;
                        text-align:left;
                        vertical-align:middle;
                        @include mobile {
                            padding:13px 10px;
                        }
                        &.essen {
                            &::after {
                                content:'*';
                                color:$red;
                            }
                        }
                    }
                    td {
                        height:60px;
                        padding:13px 25px 13px 15px;
                        border-bottom:1px solid $border;
                        @include font-lg;
                        text-align:left;
                        vertical-align:middle;
                        @include mobile {
                            padding:13px 10px;
                        }
                        textarea.form-control {
                            height:180px;
                            min-height:180px;
                        }
                    }
                }
            }
        }
        &.col-table {
            thead {
                tr {
                    &:first-child {
                        th {
                            border-top:1px solid $basic;
                        }
                    }
                    th {
                        height:60px;
                        padding:16px 0;
                        border-bottom:1px solid $border;
                        background:$disabled;
                        @include font-lg;
                        font-weight:500;
                        text-align:center;
                        vertical-align:middle;
                    }
                }
            }
            tbody {
                td, th {
                    height:60px;
                    padding:4px 10px;
                    border-bottom:1px solid $border;
                    @include font-lg;
                    text-align:center;
                    vertical-align:middle;
                }
            }
            &.work-type {
                tbody {
                    td, th {
                        padding:45px 0;
                    }
                }
            }
        }
        &.info-table {
            thead {
                tr {
                    &:first-child {
                        th {
                            border-top:1px solid $basic;
                        }
                    }
                    th {
                        height:50px;
                        border-bottom:1px solid $border;
                        border-right:1px solid $border;
                        background:$disabled;
                        @include font-sm;
                        text-align:center;
                        font-weight:500;
                        &:last-child {
                            border-right:none;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        height:50px;
                        padding:10px;
                        border-right:1px solid $border;
                        border-bottom:1px solid $border;
                        color:$gray;
                        @include font-sm;
                        text-align:center;
                        &:last-child {
                            border-right:none;
                        }
                    }
                }
            }
        }
    }
    .btn-write {
        position:absolute;
        top:100%;
        right:0;
        display:block;
        width:135px;
        height:55px;
        margin-top:20px;
        font-size:18px;
        font-weight:500;
        line-height:53px;
    }
}