<footer>
    <div class="area">
        <div class="foot-top">
            <ul class="links">
                <li><a href="">호텔소개</a></li>
                <li><a href="">층별안내</a></li>
                <li><a href="">호텔소식</a></li>
                <li><a href="">공고게시판</a></li>
                <li><a href="">오시는 길</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </div>
        <div class="foot-cont">
            <p class="logo"><img src="/images/logo-foot.png" alt="호텔 노블레스 제주"></p>
            <div class="info">
                <span>제주 노블레스 관광호텔</span>
                <span>대표 : 홍건표</span><br>
                <span>제주특별자치도 제주시 월성로4길 19</span>
                <span>TEL : 064-748-7161</span>
                <span>FAX : 064-748-7162</span>
                <p class="copy">COPYLIGHT ⓒ NOBLESSE JEJU. ALL RIGHTS RESERVED.</p>
            </div>
            <div class="dropdown">
                <button type="button" class="btn-toggle"><span>Family Site</span></button>
                <ul class="lists">
                    <li><a href="">site1</a></li>
                    <li><a href="">site2</a></li>
                    <li><a href="">site3</a></li>
                </ul>
            </div>
        </div>
        <div class="foot-bottom">
            <ul class="links">
                <li><a href="">이용약관</a></li>
                <li><a href="">개인정보처리방침</a></li>
                <li><a href="">이메일무단수집거부</a></li>
                <li><a href="">영상정보처리기기운영관리지침</a></li>
                <li><a href="">식자재관리</a></li>
            </ul>
        </div>
    </div>
</footer>