<header>
    <div class="head-top">
        <div class="area">
            <a href="" class="btn btn-basic" target="_blank"><span>노블레스노원</span></a>
            <a href="/page/sub_07_01.html" class="btn btn-basic ml-auto">1:1문의</a>
            <a href="" class="btn btn-basic">호텔 찾아오시는 길</a>
        </div>
    </div>
    <div class="head-cont">
        <div class="area">
            <h1><a href="/"><img src="/images/logo.png" alt="호텔 노블레스 제주"></a></h1>
            <button type="button" class="btn-menu-all"><span class="bar"></span><span class="blind">전체메뉴 열기</span></button>
            <nav id="gnb">
                <ul>
                    <li>
                        <a href="/page/sub_01.html" class="depth1">ROOMS</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 열기</span></button>
                        <ul class="depth2-list">
                            <li><a href="/page/sub_01_01.html" class="depth2">더블룸</a></li>
                            <li><a href="/page/sub_01_02.html" class="depth2">트리플룸</a></li>
                            <li><a href="/page/sub_01_03.html" class="depth2">패밀리룸</a></li>
                            <li><a href="/page/sub_01_04.html" class="depth2">디럭스트윈룸</a></li>
                            <li><a href="/page/sub_01_05.html" class="depth2">한실온돌룸</a></li>
                            <li><a href="/page/sub_01_06.html" class="depth2">디럭스트리플룸</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page/sub_02.html" class="depth1">DINING</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 열기</span></button>
                        <ul class="depth2-list">
                            <li><a href="/page/sub_02_01.html" class="depth2">식당</a></li>
                            <li><a href="/page/sub_02_02.html" class="depth2">커피숍</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page/sub_03.html" class="depth1">CONVENTION</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 열기</span></button>
                        <ul class="depth2-list">
                            <li><a href="/page/sub_03_01.html" class="depth2">대연회장</a></li>
                            <li><a href="/page/sub_03_02.html" class="depth2">소연회장</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page/sub_04.html" class="depth1">FACILITIES</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 열기</span></button>
                        <ul class="depth2-list">
                            <li><a href="/page/sub_04_01.html" class="depth2">부대시설</a></li>
                            <li><a href="/page/sub_04_02.html" class="depth2">산책로</a></li>
                            <li><a href="/page/sub_04_03.html" class="depth2">야외시설</a></li>
                            <li><a href="/page/sub_04_04.html" class="depth2">외부전경</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page/sub_05_01.html" class="depth1">INFORMATION</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 열기</span></button>
                        <ul class="depth2-list">
                            <li><a href="/page/sub_05_01.html" class="depth2">주변정보게시판</a></li>
                            <li><a href="/page/sub_05_02.html" class="depth2">주변관광정보</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page/sub_06_01.html" class="depth1">PR ROOM</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 열기</span></button>
                        <ul class="depth2-list">
                            <li><a href="/page/sub_06_01.html" class="depth2">공지&amp;뉴스</a></li>
                            <li><a href="/page/sub_06_02.html" class="depth2">이미지갤러리</a></li>
                            <li><a href="/page/sub_06_03.html" class="depth2">동영상갤러리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page/sub_07_01.html" class="depth1">SUPPORT</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴 열기</span></button>
                        <ul class="depth2-list">
                            <li><a href="/page/sub_07_01.html" class="depth2">문의하기</a></li>
                            <li><a href="/page/sub_07_02.html" class="depth2">FAQ</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="" class="btn btn-basic"><span>예약하기</span></a>
        </div>
    </div>
</header>