/* common layout */
.skip-navigation {
    position:absolute;
    z-index:9999;
    a {
        display:block;
        width:1px;
        height:1px;
        margin:-1px;
        overflow:hidden;
    }
}

.container {
    position:relative;
    padding-top:136px;
    padding-bottom:100px;
    @include tablet {
        padding-top:60px;
    }
    @include mobile {
        padding-bottom:60px;
    }
    .breadcrumb {
        padding:27px 0;
        background:$disabled;
        @include mobile {
            padding:15px 0;
        }
        > ol {
            display:flex;
            @include contArea;
            li {
                position:relative;
                padding-right:40px;
                font-size:14px;
                @include mobile {
                    padding-right:30px;
                    font-size:12px;
                }
                &::after {
                    content:' ';
                    position:absolute;
                    top:50%;
                    right:19px;
                    width:6px;
                    height:6px;
                    margin-top:-3px;
                    border:1px solid #bbb;
                    border-top:none;
                    border-right:none;
                    transform:rotate(-135deg);
                    @include mobile {
                        right:14px;
                    }
                }
                &:last-child::after {
                    display:none;
                }
                a {
                    display:block;
                }
            }
        }
    }
    .page-title {
        @include contArea;
        margin-top:80px;
        text-align:center;
        h2.title {
            font-size:45px;
            font-weight:500;
        }
        .desc {
            margin-top:10px;
            color:$cont;
            font-size:16px;
        }
        @include tablet {
            margin-top:60px;
        }
        @include mobile {
            margin-top:40px;
            h2.title {
                font-size:30px;
            }
            .desc {
                font-size:14px;
            }
        }
    }
    .contents-area {
        @include contArea;
        margin-top:80px;
        @include tablet {
            margin-top:50px;
        }
        @include mobile {
            margin-top:30px;
        }
    }
}

/* dim */
.common-dim {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(#000, 0.5);
    z-index:999;
}

.nodata {
    display:block;
    padding:100px 0;
    text-align:center;
    color:$gray;
    font-size:16px;
    @include mobile {
        padding:60px 0;
        font-size:14px;
    }
}