/* footer */
footer {
    padding:40px 0;
    background:#333;
    @include mobile {
        padding:30px 0;
    }
    .area {
        @include contArea;
        .foot-top {
            padding-bottom:25px;
            border-bottom:1px solid #444;
            @include tablet {
                padding-bottom:15px;
            }
            .links {
                display:flex;
                @include mobile {
                    justify-content:space-between;
                }
                li {
                    margin-left:50px;
                    &:first-child {
                        margin-left:0;
                    }
                    @include mobile {
                        margin-left:0;
                    }
                    a {
                        display:block;
                        color:#bbb;
                        font-size:16px;
                        white-space:nowrap;
                        @include mobile {
                            font-size:12px;
                        }
                    }
                }
            }
        }
        .foot-cont {
            display:flex;
            align-items:flex-start;
            padding-top:40px;
            @include tablet {
                display:block;
                position:relative;
                padding-top:30px;
            }
            @include mobile {
                padding-top:20px;
            }
            .logo {
                margin-right:50px;
                @include tablet {
                    margin-right:0;
                    margin-bottom:20px;
                }
                @include mobile {
                    img {
                        height:30px;
                    }
                }
            }
            .info {
                font-size:0;
                span {
                    display:inline-block;
                    vertical-align:top;
                    margin-bottom:10px;
                    margin-right:20px;
                    color:#bbb;
                    font-size:14px;
                    @include mobile {
                        margin-bottom:6px;
                        margin-right:12px;
                        font-size:12px;
                    }
                }
                p.copy {
                    margin-top:15px;
                    color:#bbb;
                    font-size:14px;
                    @include mobile {
                        margin-top:10px;
                        font-size:12px;
                    }
                }
            }
            .dropdown {
                position:relative;
                margin-left:auto;
                @include tablet {
                    position:absolute;
                    top:30px;
                    right:0;
                }
                @include mobile {
                    top:20px;
                }
                &.open {
                    .lists {
                        display:block;
                    }
                }
                .btn-toggle {
                    position:relative;
                    display:block;
                    width:225px;
                    height:45px;
                    padding:0 45px 0 20px;
                    border:1px solid #444;
                    background:#111;
                    color:#bbb;
                    font-size:14px;
                    line-height:43px;
                    text-align:left;
                    @include mobile {
                        width:150px;
                        height:30px;
                        padding:0 30px 0 10px;
                        font-size:12px;
                        line-height:28px;
                    }
                    &::after {
                        content:'+';
                        position:absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        width:43px;
                        background:#444;
                        color:#bbb;
                        text-align:center;
                        line-height:43px;
                        opacity:0.6;
                        @include mobile {
                            width:30px;
                            line-height:28px;
                        }
                    }
                }
                .lists {
                    display:none;
                    position:absolute;
                    left:0;
                    bottom:0;
                    right:0;
                    border:1px solid #ddd;
                    background:#fff;
                    li {
                        border-top:1px solid #ddd;
                        &:first-child {
                            border-top:none;
                        }
                        a {
                            display:block;
                            height:43px;
                            line-height:43px;
                            padding:0 20px;
                            font-size:14px;
                            color:#666;
                            @include mobile {
                                height:28px;
                                line-height:28px;
                                padding:0 10px;
                                font-size:12px;
                            }
                        }
                    }
                }
            }
        }
        .foot-bottom {
            margin-top:60px;
            @include tablet {
                margin-top:40px;
            }
            @include mobile {
                margin-top:30px;
            }
            ul.links {
                font-size:0;
                li {
                    display:inline-block;
                    vertical-align:top;
                    @include mobile {
                        margin-top:10px;
                    }
                    &::after {
                        content:' ';
                        display:inline-block;
                        vertical-align:top;
                        width:1px;
                        height:12px;
                        margin:1px 15px 0;
                        background:#444;
                    }
                    &:last-child::after {
                        display:none;
                    }
                    a {
                        display:inline-block;
                        vertical-align:top;
                        font-size:14px;
                        color:#bbb;
                        @include mobile {
                            font-size:12px;
                        }
                    }
                }
            }
        }
    }
}